* {
	padding: 0;
	margin:0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;

}
/*Index Styles*/
/*---------------- Header ------------*/
.index-header {
	height: 100vh;
	background: 
	linear-gradient(90deg,
		rgba(255, 255, 255, 0.60),
		rgba(183, 183, 184, 0)
		),
	url(../images/header1.jpg);
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center;
	} 

.mobilenav {
	display: none;
}

header > nav {
	height: 90px;
	background-color:rgba(255,255,255,0.35);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 15;
}

header > nav > hr {
	border-top: 1px solid whitesmoke;
	position: absolute;
	width: 100%;
	top:50%;

}

.nav-top {
	height: 50%;

}

.nav-top > div {
	display: inline-flex;
	height: 100%;
	margin-left: 20px;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.nav-top > div > h4 {
	margin: 0px 35px;
}

.nav-email-ico {
	height: 20px;
	position: absolute;
	left: 210px;
}

.nav-phone-ico {
	height: 20px;
	position: absolute;
	left: 35px;

}

.social-media {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	top: 10px;
	right: 30px;

}

.social-media a {
	color: blue;
	font-size: 1.5rem;
	opacity: .75;
}




.nav-bot {
	height: 50%;
	
	display: flex;
	justify-content: center;
}

.nav-bot > ul {
	display: flex;
	align-items: center;

}

.nav-bot > ul > li {
	list-style-type: none;
	padding: 0px 20px;
}

.nav-bot > ul > li > a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}



header > .landing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 40%
}

.landing-container {
	width: 80%;
}

 .landing-container > h1 {
	font-size: 35px;
	color: #000099;
}

 .landing-container > p {
	font-size: 14px;
	color:black;
	word-spacing: 5px;
	
}

.landing-btn {
	height: 50px;
	width: 100px;
	background-color: #004d99;
	color: white;
	position: relative;
	top: 18px;
	transition: .3s;
	border:none;

}

/*Hover Effects*/
.nav-bot > ul > li:hover {
	transform: scale(1.3);
}


.social-media a:hover {
	opacity: 1;
	transform: scale(1.5);
}
.social-media a:hover, a:focus, a:active, a:visited, a:link{
	text-decoration: none;

}

.landing-btn:hover {
	transform: scale(1.1);
	background-color:  #3399ff;
}

	



/*End of Hover Effects*/
/*----------------  end of Header ------------*/
/*----------------  Properties ------------*/
.properties {
	height: 120vh;
	background: 
	linear-gradient(
		rgba(218, 228, 226, 0.75),
		rgba(160, 161, 163, 0.45)
		),
	url(../images/homeprop.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.prop-head {
	position: relative;
	top: 90px;
	left: 50px;
	width: 50%;
	
}

.prop-head > div > h1 {
	font-size: 30px;
	margin-bottom: 20px;
}

.prop-head > div > .btn-prop {
	position: absolute;
	top: 73px;
	left:900px;
	width: 150px;
	height: 50px;

	background-color: #004d99;
	color: white;
	transition: .3s;
	border:none;
}

.prop-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.prop-box {
	height: 450px;
	width: 350px;
	transition: .3s;
}


.prop-top {
	height: 60%;
}

.prop-top > img {
	height: 270px;
	width: 350px;
	border-radius: 5px 5px 0 0;
}

.prop-bot {
	background-color: whitesmoke;
	height: 30%;
	border-radius: 0 0 5px 5px;
	display: flex;
	justify-content: center;
	padding: 20px;
	text-align: center;

}

.prop-bot > div > h1 {
	font-size: 20px;

}

.prop-bot > div > p {
	font-size: 15px;
	color: green;

}



/*Hover effects*/



.prop-head > div > .btn-prop:hover {
	transform: scale(1.1);
	background-color:#3399ff;  
}

.prop-box:hover {
	transform: scale(1.1);

}



/*---------------- End Properties ------------*/
/*---------------- Home contact ------------*/
.home-cont {
	height: 100vh;
	display: flex;
	background: 
		linear-gradient(
			rgba(218, 228, 226, 0.75),
			rgba(160, 161, 163, 0.45)
			),
		url(../images/homeform.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.home-cont > .left-home-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.left-home-cont > img {
	height: 500px;
	width: 550px;
}

.home-cont > .right-home-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.home-cont > .right-home-cont > .right-contact-cont {
	height: 90%;
	width: 90%;
	display: flex;
	
}

.right-home-cont > .right-contact-cont > div  {
	height:90%;
	width: 90%;
	top: 30px;
	left: 30px;
	position: relative;
}

.right-home-cont > .right-contact-cont h1 {

	margin: 10px 0px;
}

.right-home-cont > .right-contact-cont h3 {
	color: black;
	margin: 0px 0px 20px 0;}

/*Form*/

.form-home {
	background-color: rgba(	225	,225,225, 0.55);
	padding: 20px;
}

input {
	width: 100%;
	height: 35px;
	margin-bottom: 10px;
}

textarea {
	width: 100%;
	height: 70px;
	resize: none;
}


.form-sub {
	height: 50px;
	width: 100px;
	background-color: #004d99;
	color: white;
	position: relative;
	top: 18px;
	transition: .3s;
	border:none;

}



/*----------------End of  Home contact ------------*/
/*------------------------------------------------ End of Index CSS ------------------------------------------------------*/
/*------------------------------------------------ Properties CSS ------------------------------------------------------*/

/*Header / Brio*/
.prop-brio {
	height: 100vh;
	
}

.prop-brio-top {
	height: 85%;
	display: flex;

	

}

.prop-brio-left {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.prop-brio-left > div {
	position: relative;
	top: 40px;
}

.prop-brio-left > div > h3 {
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 20px 0 ;
}
.prop-brio-left img {
	height: 300px;
	width: 550px;
}

.prop-brio-right {
	width: 50%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
}

.prop-brio-right > div > h1,h2 {
	font-weight: 100;
	margin: 0px 0px 17px 0;
}

.prop-brio-right > div > h2 {
	color:green;
	font-size: 15px;
}

h1 > span {
	font-weight: 900;
}

.prop-brio-right > div > p {
	margin: 0px 200px 0px 0px;
	font-size: 10px;
	word-spacing: 3px;
}

.prop-brio-bot {
	height: 15%;
	display: flex;
	align-items: center;
}

/*.prop-brio-bot > hr {
	left:60px;
	border:0.3px #D0D0D0 solid;
	width: 90%;
	position: absolute;
	top: 560px;
}*/

.prop-brio-bot > ul {
	height: 15%;
	display: flex;
	margin: -70px 100px 0px 100px;
}

.prop-brio-bot > ul > li {
	
	margin: 0 50px;
}

.prop-brio-bot > ul > li > p {
	font-size: 13px;

}

.prop-brio-right > div > button {
	height: 30px;
	width: 140px;
	border:none;
	margin-top: 20px;
	background-color: black;
	color: white;
}

/*Button Effects*/
	.prop-brio-right > div > button:hover {
		transform: scale(1.1);
	}
	
/* end of Button Effects*/


/*End of header/brio */

/*Start of Illumina Residences */
.prop-illu {
	height: 100vh;
	
}
.prop-illu-top {
	height: 80%;
	width: 100%;
}

.prop-illu-top > div {
	display: flex;
	height: 100%;
	width: 100%;
}

.prop-illu-left{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.prop-illu-left > div > h1 {
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 20px 0 ;
}

.prop-illu-left img {
	height: 400px;
	width: 550px;
}



.prop-illu-right {
	width: 50%;
	height: 65%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.prop-illu-right > div > h1,h2 {
	font-weight: 100;
	margin: 0px 0px 17px 0;
}

.prop-illu-right > div > h2 {
	color:green;
	font-size: 15px;
}


.prop-illu-right > div > p {
	margin: 0px 200px 0px 0px;
	font-size: 10px;
	word-spacing: 3px;
}

.prop-illu-bot {
	height: 20%;
	width: 100%;
	height: 15%;
	display: flex;
	align-items: center;
}

.prop-illu-right > div > button {
	height: 30px;
	width: 140px;
	border:none;
	margin-top: 20px;
	background-color: black;
	color: white;
}

.prop-illu-bot > ul {
	height: 15%;
	display: flex;
	margin: -70px 100px 0px 145px;
}

.prop-illu-bot > ul > li > p {
	font-size: 13px;

}

/*Button Effects*/
	.prop-illu-right > div > button:hover {
		transform: scale(1.1);
	}
	
/* end of Button Effects*/




/*end  of Illumina Residences */

/*Flair towers */
.prop-flair {
	height: 100vh;
}

.prop-flair-top {
	height: 80%;
	width: 100%;
}

.prop-flair-top > div {
	display: flex;
	height: 100%;
	width: 100%;
}

.prop-flair-left{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.prop-flair-left > div > h1 {
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 20px 0 ;
}

.prop-flair-left img {
	height: 400px;
	width: 550px;
}



.prop-flair-right {
	width: 50%;
	height: 65%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.prop-flair-right > div > h1,h2 {
	font-weight: 100;
	margin: 0px 0px 17px 0;
}

.prop-flair-right > div > h2 {
	color:green;
	font-size: 15px;
}


.prop-flair-right > div > p {
	margin: 0px 200px 0px 0px;
	font-size: 10px;
	word-spacing: 3px;
}

.prop-flair-bot {
	height: 20%;
	width: 100%;
	height: 15%;
	display: flex;
	align-items: center;
}

.prop-flair-right > div > button {
	height: 30px;
	width: 140px;
	border:none;
	margin-top: 20px;
	background-color: black;
	color: white;
}


.prop-flair-bot > ul {
	height: 15%;
	display: flex;
	margin: -70px 100px 0px 145px;
}

.prop-flair-bot > ul > li > p {
	font-size: 13px;

}

/*Button Effects*/
	.prop-flair-right > div > button:hover {
		transform: scale(1.1);
	}
	
/* end of Button Effects*/


/*End of Flair towers */


/*------------------------------------------------ End of properties CSS ------------------------------------------------------*/
/*------------------------------------------------Start of  About Css ------------------------------------------------------*/
.about-page {
	height: 100vh;
	 }
.page-cont1 {
	height: 100%;
	display: flex;
}

.page-cont1-left{
	width: 50%;
	height: 95%;
}
.page-cont1-left  {
	display: flex;
	justify-content: center;
	align-items: center;

}

.page-cont1-left > div {
	margin-left: 50px;
}

.page-cont1-left > div > h1 {
	margin-bottom: 30px;
	font-weight: lighter;
	font-size: 40px;
}

.page-cont1-left > div > h5 {
	font-size: 14px;
	font-weight: lighter;
}

.page-cont1-left > div > p {
	margin: 0px 80px 20px 0px;
	font-size: 12px;
	word-spacing: 2px;
	line-height: 1.6;

}
.page-cont1-left > div > ul > li {
	margin: 10px 5px 10px 30px;
	font-size: 12px;
}

.page-cont1-right {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
}

.page-cont1-right > img {
	height: 400px;
	width: 600px;
}

/* Page cont2 */

.page-cont2 {
	height: 100vh;
	background-color:#cce0ff;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
.page-cont2-top {
	width: 35%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 30px;
	left: -33px;
	
}

.page-cont2-top > div > h1 {
	font-size: 40px;
	color: #4d4d4d;
}

.page-cont2-top > div > p {
	margin: 0 0 5px 5px;
	color: #4d4d4d;
}


.page-cont2-bot {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.page-cont2-box1 {
	height: 400px;
	width: 250px;
	transition: .3s;
	

}

.page-cont2-box2 {
	height: 400px;
	width: 250px;
	transition: .3s;


}
.page-cont2-box3 {
	height: 400px;
	width: 250px;
	transition: .3s;


}

.page-cont2-box4 {
	height: 400px;
	width: 250px;
	transition: .3s;


}

.page-cont2-boxtop {
	height: 50%;

}

.page-cont2-boxtop > img {
	width: 250px;
	height: 200px;
	border-radius: 5px 5px 0 0;
}

.page-cont2-boxtop >h6 {
	position: relative;
	top: 10px;
	left: 17px;
	font-size: 14px;
	

}

.page-cont2-boxbot {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: whitesmoke;
	border-radius: 0 0 5px 5px;
	
	
}

.page-cont2-boxbot >  p {
	font-size: 14px;
	padding: 5px 20px 5px 20px;
}
/* Hover Effect  */
.page-cont2-box1:hover {
	transform: scale(1.1);
}


.page-cont2-box2:hover {
	transform: scale(1.1);
}

.page-cont2-box3:hover {
	transform: scale(1.1);
}

.page-cont2-box4:hover {
	transform: scale(1.1);
}




/* End of page cont2 */
/* page cont 3 */
.page-cont3 {
	height: 100vh;
	display: flex;
}

.page-cont3-cont1 {
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
}

.page-cont3-cont1 > div {
	margin: 0 55px;
	position: relative;
	top: 130px;
}

.page-cont3-cont1 > div > h1 {
	font-size: 40px;
	font-weight: lighter;
	margin-bottom: 10px;
}

.page-cont3-cont1 > div > h3 {
	font-size: 20px;
	margin-bottom: 20px;
	color: green;
}

.page-cont3-cont1 > div > h5 {
	margin-bottom: 6px;
}


.page-cont3-cont1 > div > p {
	font-size: 12px;
	word-spacing: 2px;
	line-height: 1.6;
}



.page-cont3-cont2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 50%;
}

.page-cont3-cont2 > img {
	height: 500px;
	width: 650px;
}




/*end of page cont 3 */
/* Page cont 4 */
.page-cont4 {
	height: 100vh;
	background-color: #cce0ff;
	display: flex;
}

.page-cont4-cont1 {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-cont4-cont1 > img {
	height: 500px;
	width: 650px;
}

.page-cont4-cont2 {
	width: 50%;
	height: 100%;
	display: flex;

}

.page-cont4-cont2 > div > h1 {
	font-size: 40px;
	font-weight: lighter;
	margin-bottom: 10px;
}

.page-cont4-cont2 > div > h3 {
	font-size: 20px;
	margin-bottom: 20px;
	color: green;
}

.page-cont4-cont2 > div > p {
	font-size: 12px;
	word-spacing: 2px;
	line-height: 1.6;
}



.page-cont4-cont2 {
	width: 50%;
	height: 100%;
	display: flex;

}

.page-cont4-cont2 > div {
	margin: 0 55px;
	position: relative;
	top: 130px;
}


/* End of Page cont 4 */

/* Page cont 5 */
.page-cont5 {
	min-height: 77vh ;

	display: flex;
	
}

.page-cont5-cont1 {
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-cont5-cont1 > div > img {
	height: 420px;
}

.page-cont5-cont1 > div > h1 {
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: lighter;
}

.page-cont5-cont2 {
height: 100%;
width: 50%;
display: flex;
justify-content: center;
align-items: center;
position: relative;
top: 60px;
}




/* End of Page cont 5 */

/* Page cont 6 */
.page-cont6 {
	height: 100vh;
	background-color: #cce0ff;
}

.page-cont6 img {
	height: 190px;
	width: 220px;
	border: 1px solid  #bfbfbf;
	margin: 10px 10px;
	transition: .3s;
	
}

.page-cont6-cont1 {
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.page-cont6-cont1-cont1{
	width: 37%;
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: lighter;
}

.page-cont6-cont1-cont1 > h1 {
	font-size: 40px;
	font-weight: lighter;
}
.page-cont6-cont1-cont2{
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	

}

.page-cont6-cont2 {

	height: 30%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-cont6-cont3 {

	height: 30%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-cont6 img:hover {
	transform: scale(1.1);
}

/* End of Page cont 6 */


/*------------------------------------------------End of  About Css ------------------------------------------------------*/

/*------------------------------------------------Start of  Contact Css ------------------------------------------------------*/

.contact-cont {
	height: 100vh;
	display: flex;
	background: 
		linear-gradient(
			rgba(218, 228, 226, 0.75),
			rgba(160, 161, 163, 0.45)
			),
		url(../images/homeform.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.contact-cont-cont1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.contact-cont-cont1 > img {
	height: 400px;
	width: 550px;
}

.contact-cont-cont2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

 .contact-cont-cont2-cont {
	height: 90%;
	width: 90%;
	display: flex;
	
}

.contact-cont-cont2-cont > div  {
	height:90%;
	width: 90%;
	top: 60px;
	left: 30px;
	position: relative;
}

.contact-cont-cont2-cont  h1 {
	margin: 10px 0px;
	font-weight: lighter;
}

.contact-cont-cont2-cont h3 {
	color: black;
	font-weight: lighter;
	margin: 0px 0px 20px 0;}
	

/*Form*/

.form-contact {
	
	background-color: rgba(	225	,225,225, 0.55);
	padding: 20px;
}

input {
	width: 100%;
	height: 35px;
}

/*textarea {
	width: 100%;
	height: 200px;
	resize: none;
}*/

.form-sub {
	height: 50px;
	width: 100px;
	background-color: #004d99;
	color: white;
	position: relative;
	top: 18px;
	transition: .3s;
	border:none;

}

/*------------------------------------------------End  of  Contact Css ------------------------------------------------------*/
/*------------------------------------------------Footer Css ------------------------------------------------------*/
footer {
	height: 8vh;
	background:#f2f2f2;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer > div > ul {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

footer > div > ul > li{
	padding: 0px 20px;
	list-style: none;
}

footer > div > ul > li > a {
	text-decoration: none;
	color: #595959;
	font-size: 20px;
}

footer > div > ul > li > a:hover{
	color:#404040;
}



/*------------------------------------------------End of Footer Css ------------------------------------------------------*/

.navicon {
	display: none;
}

.navicon {
	position: absolute;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.86);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
  
/*------------------------------------------------Responsiveness ------------------------------------------------------*/
/*------------------------------------------------Iphone 6/7/8 ------------------------------------------------------*/
@media only screen and (max-width:667px) {
/* all */
nav {
	visibility: hidden;
}

.navicon {
	display: block;
}

  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
/* all */
footer  {
  	color:black;
  }
/* Index */

.properties{
	height: 230vh;
} 
.prop-head {
	top: 0px;
	left: 0px;
	position: relative;
	top: 20px;
	width: 100%;
	height:15%;
	display: flex;
	justify-content: normal;
	align-items: normal;
	
}

.prop-box {
	display:flex;
	align-items: center;
	/* justify-content: center; */
	flex-direction: column;
}

.prop-head > div > .btn-prop {
	position: absolute;
	top: 120px;
	left:30px;
	width: 150px;
	height: 50px;
	
	background-color: #004d99;
	color: white;
	transition: .3s;
	border:none;
}


.prop-head > div > h1 {
	font-size: 30px;
	margin-bottom: 20px;
	margin: 0px 20px;
}

.prop-head > div > p {
	font-size: 14	px;
	margin-bottom: 20px;
	margin: 0px 30px;
}

.prop-top > img {
	height: 170px;
	width: 250px;
	border-radius: 5px 5px 0 0;
}

.prop-bot {
	background-color: whitesmoke;
	height: 30%;
	width: 71.5%;
	border-radius: 0 0 5px 5px;
	position:relative;
	top: -100px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.prop-container {
	height: 80%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	

}

.prop-bot {
	padding: 20px;
	justify-content: center;
	align-items: normal;
} 

.prop-bot > div > h1 {
	font-size: 20px;

}

.prop-bot > div > p {
	font-size: 15px;

}

/*---------------- Home contact ------------*/

.home-cont{
	height: 200vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-cont > .left-home-cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.left-home-cont > img {
	height: 500px;
	width: 300px;
}

.home-cont > .right-home-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.home-cont > .right-home-cont > .right-contact-cont {
	height: 100%;
	width: 100%;
	display: flex;
	
}

.right-home-cont > .right-contact-cont > div  {
	height:100%;
	width: 100%;
	top: 30px;
	left: 0px;
	position: relative;
}

.right-home-cont > .right-contact-cont h1 {
	font-weight: lighter;

	margin: 10px 0px;
}

.right-home-cont > .right-contact-cont h3 {
	color: black;
	margin: 0px 0px 20px 0;
	font-size: 15px;
	font-weight: lighter;   
}

	.form-home {
		background-color: rgba(	225	,225,225, 0.55);
		padding: 30px;
	}


/* End of Index */

/* Properties */

.prop-brio {
	height: 140vh;
	

	
}

.prop-brio-top {
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: column;

}

.prop-brio-left {
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.prop-brio-left > div {
	position: relative;
	top: 0px;
}

.prop-brio-left > div > h3 {
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 20px 0 ;
}
.prop-brio-left img {
	height: 400px;
	width: 350px;
}

.prop-brio-right {
	width: 100%;
	height: 30%;
	position: relative;

}

.prop-brio-right > div {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.prop-brio-right > div > h1,h2 {
	margin: 0 0 0 0;
}

.prop-brio-right > div > h2 {
	color:green;
	font-size: 15px;
}


.prop-brio-right > div > p {
	margin: 0px 20px 0px 20px;
	font-size: 10px;
	word-spacing: 3px;
}

.prop-brio-bot {
	height: 20%;
	display: block;
	
}

.prop-brio-bot > ul {
	height: 15%;
	display: block;
	margin: 0px 100px 0px 30px;
}

.prop-brio-bot > ul > li {
	
	margin: 25px 0;
}

.prop-illu {
	height: 140vh;	
}

.prop-illu-top {
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: column;
	
}

.prop-illu-top > div {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

}

.prop-illu-left {
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.prop-illu-left > div {
	position: relative;
	top: 0px;
}

.prop-illu-left > div > h3 {
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 20px 0 ;
}
.prop-illu-left img {
	height: 400px;
	width: 350px;
}

.prop-illu-right {
	width: 100%;
	height: 30%;
	position: relative;

}

.prop-illu-right > div {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.prop-illu-right > div > h1,h2 {
	margin: 0 0 0 0;
}

.prop-illu-right > div > h2 {
	color:green;
	font-size: 15px;
}


.prop-illu-right > div > p {
	margin: 0px 20px 0px 20px;
	font-size: 10px;
	word-spacing: 3px;
}

.prop-illu-bot {
	height: 20%;
	display: block;
	
}

.prop-illu-bot > ul {
	height: 15%;
	display: block;
	margin: 0px 100px 0px 30px;
}

.prop-illu-bot > ul > li {
	
	margin: 25px 0;
}

.prop-flair {
	height: 140vh;	
}

.prop-flair-top {
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: column;
	
}

.prop-flair-top > div {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

}

.prop-flair-left {
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.prop-flair-left > div {
	position: relative;
	top: 0px;
}

.prop-flair-left > div > h3 {
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 20px 0 ;
}
.prop-flair-left img {
	height: 400px;
	width: 350px;
}

.prop-flair-right {
	width: 100%;
	height: 30%;
	position: relative;

}

.prop-flair-right > div {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.prop-flair-right > div > h1,h2 {
	margin: 0 0 0 0;
}

.prop-flair-right > div > h2 {
	color:green;
	font-size: 15px;
}


.prop-flair-right > div > p {
	margin: 0px 20px 0px 20px;
	font-size: 10px;
	word-spacing: 3px;
}

.prop-flair-bot {
	height: 20%;
	display: block;
	
}

.prop-flair-bot > ul {
	height: 15%;
	display: block;
	margin: 0px 100px 0px 30px;
}

.prop-flair-bot > ul > li {
	
	margin: 25px 0;
}



/* End of Properties */

/* About */

.about-page {
	height: 120vh;
	 }
.page-cont1 {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.page-cont1-left{
	width: 100%;
	height: 100%;
	

}
.page-cont1-left  {
	display: flex;
	justify-content: center;
	align-items: center;


}

.page-cont1-left > div {
	margin-left: 50px;
}

.page-cont1-left > div > h1 {
	margin-bottom: 0px;
	font-weight: lighter;
	font-size: 30px;
	
}

.page-cont1-left > div > h5 {
	font-size: 14px;
}

.page-cont1-left > div > p {
	margin: 0px 80px 20px 0px;
	font-size: 10px;
}

.page-cont1-left > div > ul > li {
	margin: 10px 5px 0px 20px;
}

.page-cont1-right {

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40%;
}

.page-cont1-right > img {
	height: 200px;
	width: 320px;
}

/* Page cont 2 */

.page-cont2 {
	height: 280vh;
	background-color:#cce0ff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.page-cont2-top {
	width: 80%;
	height: 5%;
	display: flex;
	justify-content: normal;
	align-items: normal;
	position: relative;
	top: 25px;
	left: 50px;
	
}

.page-cont2-top > div > h1 {
	font-size: 30px;
	color: #4d4d4d;
}

.page-cont2-top > div > p {
	margin: 0 0 5px 5px;
	color: #4d4d4d;
	font-size: 10px;
}




.page-cont2-bot {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

}


.page-cont2-box1 {
	height: 400px;
	width: 250px;
	transition: .3s;
	

}

.page-cont2-box2 {
	height: 400px;
	width: 250px;
	transition: .3s;


}
.page-cont2-box3 {
	height: 400px;
	width: 250px;
	transition: .3s;


}

.page-cont2-box4 {
	height: 400px;
	width: 250px;
	transition: .3s;


}

.page-cont2-boxtop {
	height: 50%;

}

.page-cont2-boxtop > img {
	width: 250px;
	height: 200px;
	border-radius: 5px 5px 0 0;
}

.page-cont2-boxtop >h6 {
	position: relative;
	top: 10px;
	left: 17px;
	font-size: 14px;
	

}

.page-cont2-boxbot {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: whitesmoke;
	border-radius: 0 0 5px 5px;
	
	
}

.page-cont2-boxbot >  p {
	font-size: 14px;
	padding: 5px 20px 5px 20px;
}

/* about me sect 3 */

.page-cont3 {
	height: 170vh;
	display: flex;
	flex-direction: column;

}

.page-cont3-cont1 {
	height: 80%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.page-cont3-cont1 > div {
	margin: 0 px;
	position: relative;
	top: 0px;
}

.page-cont3-cont1 > div > h1 {
	margin-bottom: 0px;
	font-weight: lighter;
	font-size: 30px;

}

.page-cont3-cont1 > div > h3 {
	font-size: 15px;
	margin-bottom: 20px;
}

.page-cont3-cont1 > div > h5 {
	margin-bottom: 6px;
}


.page-cont3-cont1 > div > p {
	word-spacing: 2px;
	line-height: 1.6;
	font-size: 14px;
}



.page-cont3-cont2 {
	display: flex;
	justify-content: center;
	align-items: normal;
	height: 20%;
	width: 100%;
	
}

.page-cont3-cont2 > img {
	height: 200px;
	width: 320px;
}

/* about me sect 4 */

.page-cont4 {
	height: 170vh;
	background-color: #cce0ff;
	display: flex;
	flex-direction: column-reverse;
}

.page-cont4-cont1 {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.page-cont4-cont1 > img {
	height: 200px;
	width: 320px;
}

.page-cont4-cont2 {
	width: 100%;
	height: 85%;
	display: flex;
	justify-content: center;
	align-items: center;



}

.page-cont4-cont2 > div > h1 {
	font-size: 30px;
	font-weight: lighter;
	margin-bottom: 10px;
}

.page-cont4-cont2 > div > h3 {
	font-size: 20px;
	margin-bottom: 20px;
}

.page-cont4-cont2 > div > p {
	word-spacing: 2px;
	line-height: 1.6;
	font-size: 14px;
}



.page-cont4-cont2 > div {
	margin: 0 55px;
	position: relative;
	top: 0px;
}

/* About me sec 5 */

.page-cont5 {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.page-cont5-cont1  {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.page-cont5-cont1 > div	 {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page-cont5-cont1 > div > img {
	height: 200px;
	width: 320px;
}

.page-cont5-cont1 > div > h1 {
	margin: 0 0 30px -140px ;
	
	font-size: 30px;
	font-weight: lighter;
}

.page-cont5-cont2 {
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items:normal;
position: relative;
top: 0px;
}

.page-cont5-cont2 img {
	height: 130px;
	width: 130px;
	}

/* Page cont 6 */
.page-cont6 {
	height: 130vh;
	background-color: #cce0ff;
}

.page-cont6 img {
	height: 100px;
	width: 100px;
	border: 1px solid  #bfbfbf;
	margin: 10px 10px;
	transition: .3s;
	
}

.page-cont6-cont1 {
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.page-cont6-cont1-cont1{
	width: 70%;
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}


.page-cont6-cont1-cont1 > h1 {
	font-size: 30px;
	font-weight: lighter;
	margin-left: 50px;
}
.page-cont6-cont1-cont2{
	width: 100%;
	height: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	

}

.page-cont6-cont2 {

	height: 30%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.page-cont6-cont3 {

	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


/* End of About */

/* Contact */

.contact-page {
	height: 200vh;
	background: 
		linear-gradient(
			rgba(218, 228, 226, 0.75),
			rgba(160, 161, 163, 0.45)
			),
		url(../images/homeform.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
} 

.contact-cont {
	height: 100%;
	width: 100;
	background: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact-cont-cont1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height:75%;
}

.contact-cont-cont1 > img {
	height: 500px;
	width: 300px;
}

.contact-cont-cont2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.contact-cont-cont2-cont > div  {
	height:90%;
	width: 100%;
	top: 0px;
	left: 0px;

}



/* End of Contact */

/* Footer*/

footer {
	height: 8vh;
	background:#f2f2f2;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer > div > ul {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

footer > div > ul > li{
	padding: 0px 10px;
	list-style: none;
}

footer > div > ul > li > a {
	text-decoration: none;
	color: #595959;
	font-size: 10px;
}

footer > div > ul > li > a:hover{
	color:#404040;
}

.form-contact > h3 {
	font-size: 14px;
	
}

/* End of Footer */

}

/*------------------------------------------------Ipad ------------------------------------------------------*/

@media only screen and (min-width:668px) and (max-width:1279px) {

	/* all */
nav {
	visibility: hidden;
}

.navicon {
	display: block;
}

  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  footer  {
  	color:black;
  }
/* all */

/* Index */

 .landing-container > h1 {
	font-size: 45px;
	color: #000099;
}

 .landing-container > p {
	font-size: 17px;
	color:black;
	word-spacing: 5px;
	
}

.properties{
	height: auto;
} 

.prop-head > div > .btn-prop {
	position: absolute;
	top: 130px;
	left:300px;
	width: 150px;
	height: 50px;

	background-color: #004d99;
	color: white;
	transition: .3s;
	border:none;
}


.prop-head {
	top: 0px;
	left: 0px;
	position: relative;
	top: 0px;
	width: 100%;
	height:200px;
	display: flex;
	justify-content: center;
	align-items: center;

}




.prop-head > div > h1 {
	font-size: 30px;
	margin-bottom: 20px;
	margin: 0px 20px;
}

.prop-head > div > p {
	font-size: 14px;
	margin-bottom: 20px;
	margin: 0px 30px;
}

.prop-top > img {
	height: 270px;
	width: 350px;
	border-radius: 5px 5px 0 0;
}

.prop-bot {
	background-color: whitesremoke;
	height: 30%;
	width: 100%;
	border-radius: 0 0 5px 5px;
	position:relative;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.prop-container {
	height: 80%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	
	

}

.prop-bot {
	padding: 20px;
	justify-content: center;
	align-items: normal;
} 

.home-cont{
	height: 150vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-cont > .left-home-cont {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.left-home-cont > img {
	height: 500px;
	width: 500px;
}

.home-cont > .right-home-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.home-cont > .right-home-cont > .right-contact-cont {
	height: 100%;
	width: 100%;
	display: flex;
	
}


.right-home-cont > .right-contact-cont > div  {
	height:100%;
	width: 100%;
	top: 30px;
	left: 0px;
	position: relative;
}

.right-home-cont > .right-contact-cont h1 {
	font-weight: lighter;

	margin: 10px 0px;
}

.right-home-cont > .right-contact-cont h3 {
	color: black;
	margin: 0px 0px 20px 0;
	font-size: 15px;
	font-weight: lighter;   
}

	.form-home {
		background-color: rgba(	225	,225,225, 0.55);
		padding: 30px;
	}




	/* Properties */

.prop-brio {
	height: 60vh;
	
}

.prop-brio-top {
	height: 80%;
	display: flex;

}

.prop-brio-left {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: normal;
}

.prop-brio-left > div {
	position: relative;
	top: 50px;
}

.prop-brio-left img {
	height: 300px;
	width: 350px;
}


.prop-brio-right {
	width: 35%;
	height: 100%;
	justify-content: center;
	align-items: normal;
	display: flex;
	position: relative;
	top: 90px;
	left: 80px;
}

	.prop-brio-right > div > h1,h2 {
		font-weight: 100;
		margin: 0px 0px 17px 0;
	}
	
	.prop-brio-right > div > h2 {
		color:green;
		font-size: 20px;
	}
	
	h1 > span {
		font-weight: 900;
	}
	
	.prop-brio-right > div > p {
		margin: 0px 0px 0px 0px;
		font-size: 15px;
		word-spacing: 3px;
	}

	.prop-brio-bot {
		height: 30%;
		display: flex;
		align-items: center;
	
	}

	.prop-illu {
		height: 60vh;
		
	}
	
	.prop-illu-top {
		height: 80%;
		display: flex;
	
	}
	
	.prop-illu-left {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: normal;
	}
	
	.prop-illu-left > div {
		position: relative;
		top: 50px;
	}
	
	.prop-illu-left img {
		height: 300px;
		width: 350px;
	}
	
	
	.prop-illu-right {
		width: 35%;
		height: 100%;
		justify-content: center;
		align-items: normal;
		display: flex;
		position: relative;
		top: 90px;
		left: 80px;
	}
	
		.prop-illu-right > div > h1,h2 {
			font-weight: 100;
			margin: 0px 0px 17px 0;
		}
		
		.prop-illu-right > div > h2 {
			color:green;
			font-size: 20px;
		}
		
		h1 > span {
			font-weight: 900;
		}
		
		.prop-illu-right > div > p {
		margin: 0px 0px 0px 0px;
		font-size: 15px;
		word-spacing: 3px;
		}
	
		.prop-illu-bot {
			height: 20%;
			display: flex;
			align-items: center;
		
		}
		.prop-flair {
			height: 60vh;
			
		}
		
		.prop-flair-top {
			height: 70%;
			display: flex;
		
			
		
		}
		
		.prop-flair-left {
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: normal;
		}
		
		.prop-brio-left > div {
			position: relative;
			top: 50px;
		}
		
		.prop-flair-left img {
			height: 300px;
			width: 350px;
		}
		
		
		.prop-flair-right {
			width: 35%;
			height: 100%;
			justify-content: center;
			align-items: normal;
			display: flex;
			position: relative;
			top: 90px;
			left: 80px;
		}
		
			.prop-flair-right > div > h1,h2 {
				font-weight: 100;
				margin: 0px 0px 17px 0;
			}
			
			.prop-flair-right > div > h2 {
				color:green;
				font-size: 20px;
			}
			
			h1 > span {
				font-weight: 900;
			}
			
			.prop-flair-right > div > p {
				margin: 0px 0px 0px 0px;
				font-size: 15px;
				word-spacing: 3px;
			}
		
			.prop-flair-bot {
				height: 30%;
				display: flex;
				align-items: center;
			
			}
	/* About */

.about-page {
	height: 100vh;
	 }
.page-cont1 {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.page-cont1-left{
	width: 100%;
	height: 100%;
	

}
.page-cont1-left  {
	display: flex;
	justify-content: center;
	align-items: center;


}

.page-cont1-left > div {
	margin-left: 50px;
}

.page-cont1-left > div > h1 {
	margin-bottom: 10px;
	font-weight: lighter;
	font-size: 40px;
	
}

.page-cont1-left > div > h5 {
	font-size: 17px;
}

.page-cont1-left > div > p {
	margin: 0px 80px 20px 0px;
	font-size: 17px;
}

.page-cont1-left > div > ul > li {
	margin: 10px 5px 0px 20px;
}

.page-cont1-right {

	display: flex;
	justify-content: center;
	align-items: normal;
	width: 100%;
	height: 70%;
}

.page-cont1-right > img {
	height: 300px;
	width: 520px;
}

/* Page cont 2 */

.page-cont2 {
	height: 200vh;
	background-color:#cce0ff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.page-cont2-top {
	width: 80%;
	height: 5%;
	display: flex;
	justify-content: normal;
	align-items: normal;
	position: relative;
	top: 25px;
	left: 50px;
	
}

.page-cont2-top > div > h1 {
	font-size: 40px;
	color: #4d4d4d;
}

.page-cont2-top > div > p {
	margin: 0 0 5px 5px;
	color: #4d4d4d;
	font-size: 15px;
}




.page-cont2-bot {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;

}


.page-cont2-box1 {
	height: 400px;
	width: 250px;
	transition: .3s;
	

}

.page-cont2-box2 {
	height: 400px;
	width: 250px;
	transition: .3s;


}
.page-cont2-box3 {
	height: 400px;
	width: 250px;
	transition: .3s;


}

.page-cont2-box4 {
	height: 400px;
	width: 250px;
	transition: .3s;


}

.page-cont2-boxtop {
	height: 50%;

}

.page-cont2-boxtop > img {
	width: 250px;
	height: 200px;
	border-radius: 5px 5px 0 0;
}

.page-cont2-boxtop >h6 {
	position: relative;
	top: 10px;
	left: 17px;
	font-size: 14px;
	

}

.page-cont2-boxbot {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: whitesmoke;
	border-radius: 0 0 5px 5px;
	
	
}

.page-cont2-boxbot >  p {
	font-size: 14px;
	padding: 5px 20px 5px 20px;
}

/* about me sect 3 */

.page-cont3 {
	height: 100vh;
	display: flex;
	flex-direction: column;

}

.page-cont3-cont1 {
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.page-cont3-cont1 > div {
	margin: 0 px;
	position: relative;
	top: 0px;
}

.page-cont3-cont1 > div > h1 {
	margin-bottom: 0px;
	font-weight: lighter;
	font-size: 30px;

}

.page-cont3-cont1 > div > h3 {
	font-size: 15px;
	margin-bottom: 20px;
}

.page-cont3-cont1 > div > h5 {
	margin-bottom: 6px;
}


.page-cont3-cont1 > div > p {
	word-spacing: 2px;
	line-height: 1.6;
	font-size: 14px;
}



.page-cont3-cont2 {

	display: flex;
	justify-content: center;
	align-items: normal;
	height: 40%;
	width: 100%;
	
}

.page-cont3-cont2 > img {
	height: 350px;
	width: 450px;
}

/* about me sect 4 */

.page-cont4 {
	height: 80vh;
	background-color: #cce0ff;
	display: flex;
	flex-direction: column-reverse;
}

.page-cont4-cont1 {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;


}

.page-cont4-cont1 > img {
	height: 300px;
	width: 520px;
}

.page-cont4-cont2 {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;



}

.page-cont4-cont2 > div > h1 {
	font-size: 30px;
	font-weight: lighter;
	margin-bottom: 10px;
}

.page-cont4-cont2 > div > h3 {
	font-size: 20px;
	margin-bottom: 20px;
}

.page-cont4-cont2 > div > p {
	word-spacing: 2px;
	line-height: 1.6;
	font-size: 14px;
}



.page-cont4-cont2 > div {
	margin: 0 55px;
	position: relative;
	top: 0px;
}

/* About me sec 5 */

.page-cont5 {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.page-cont5-cont1  {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.page-cont5-cont1 > div	 {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page-cont5-cont1 > div > img {
	height: 350px;
	width: 450px;
}

.page-cont5-cont1 > div > h1 {
	margin: 0 0 30px -480px ;
	
	font-size: 30px;
	font-weight: lighter;
}

.page-cont5-cont2 {
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items:normal;
position: relative;
top: 0px;
}

.page-cont5-cont2 img {
	height: 150px;
	width: 150px;
	}

/* Page cont 6 */
.page-cont6 {
	height: 60vh;
	background-color: #cce0ff;
}

.page-cont6 img {
	height: 130px;
	width: 130px;
	border: 1px solid  #bfbfbf;
	margin: 10px 10px;
	transition: .3s;
	
}

.page-cont6-cont1 {
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.page-cont6-cont1-cont1{
	width: 70%;
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}


.page-cont6-cont1-cont1 > h1 {
	font-size: 30px;
	font-weight: lighter;
	margin-left: 0px;
}
.page-cont6-cont1-cont2{
	width: 100%;
	height: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	

}

.page-cont6-cont2 {

	height: 30%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.page-cont6-cont3 {

	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


/* End of About */
	/* Contact */

.contact-page {
	height: 150vh;
	background: 
		linear-gradient(
			rgba(218, 228, 226, 0.75),
			rgba(160, 161, 163, 0.45)
			),
		url(../images/homeform.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
} 

.contact-cont {
	height: 100%;
	width: 100;
	background: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact-cont-cont1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height:75%;
}

.contact-cont-cont1 > img {
	height: 600px;
	width: 500px;
}

.contact-cont-cont2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.contact-cont-cont2-cont > div  {
	height:70%;
	width: 100%;
	top: 0px;
	left: 0px;

}

/* End of Contact */

/* Footer*/

footer {
	height: 8vh;
	background:#f2f2f2;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer > div > ul {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

footer > div > ul > li{
	padding: 0px 10px;
	list-style: none;
}

footer > div > ul > li > a {
	text-decoration: none;
	color: #595959;
	font-size: 20px;
}

footer > div > ul > li > a:hover{
	color:#404040;
}

}